# lesson4/graph.html  linguist-generated
# lesson5/graph.html  linguist-generated
# lesson*/graph.html  linguist-generated
lesson*/graph.html  linguist-generated=true
coverage/*.*  linguist-generated=true

*.html -diff -merge
*.json -diff -merge
